<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title></title>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/user.css"/>
</head>
<body>
<header class="noraml_tit">
    花一分钟注册，成一生挚友
</header>
<ul class="reg_input">
    <li>
        <span>昵称</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <input type="text"/>
        </div>
    </li>
    <li>
        <span>性别</span>
        <div class="r_select r">
            <div class="item">
                <i class="check_box">
                    <i></i>
                </i>
                <img class="item_icon" src="../../img/man.svg">
            </div>
            <div class="item">
                <i class="check_box checked">
                    <i></i>
                </i>
                <img class="item_icon" src="../../img/women.svg">
            </div>
        </div>
    </li>
    <li>
        <span>生日</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <input class="input_date" type="text"/>
            <img src="../../img/date.svg" class="input_icon">
        </div>
    </li>
    <li>
        <span>常住地址</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <input type="text"/>
        </div>
    </li>
    <li>
        <span>职业</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <div class="right_arr">
                <i class="left"></i>
                <i class="inner_arr"></i>
            </div>
        </div>
    </li>
    <li>
        <span>手机号码</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <input type="num" maxlength="11"/>
        </div>
    </li>
    <li>
        <span>芝麻信用</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <input type="num" maxlength="11"/>
        </div>
    </li>
    <li>
        <span>学历</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <div class="right_arr">
                <i class="left"></i>
                <i class="inner_arr"></i>
            </div>
        </div>
    </li>
    <li>
        <span>工作年限</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <div class="right_arr">
                <i class="left"></i>
                <i class="inner_arr"></i>
            </div>
        </div>
    </li>
    <li>
        <span>单身时间</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <div class="right_arr">
                <i class="left"></i>
                <i class="inner_arr"></i>
            </div>
        </div>
    </li>
    <li>
        <span>年收入</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <div class="right_arr">
                <i class="left"></i>
                <i class="inner_arr"></i>
            </div>
        </div>
    </li>
    <li>
        <span>特长技能</span>
        <div class="right input_con">
            <i class="arr normal_arr"></i>
            <input type="text"/>
        </div>
    </li>
</ul>
<script src="../../js/common.js"></script>
</body>
</html>