<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title></title>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/user.css"/>
</head>
<body>
<header class="noraml_tit">
    花一分钟注册，成一生挚友
</header>
<section class="con">
    <header class="inner_tit">推荐人手机号</header>
    <div class="bot_input input_con">
        <i class="normal_arr top_arr"></i>
        <input type="number" maxlength="11"/>
    </div>
</section>
<section class="con pb_70">
    <header class="inner_tit">自我评价</header>
    <div class="po_r">
        <i class="normal_arr text_arr"></i>
        <textarea class="text" name="" id="" rows="4"></textarea>
    </div>
</section>
<script src="../../js/common.js"></script>
</body>
</html>