<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title></title>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/user.css"/>
</head>
<body>
<header class="noraml_tit">
    花一分钟注册，成一生挚友
</header>
<section class="con">
    <header class="inner_tit">个人照片上传</header>
    <ul class="photo_btn pb_70">
        <li class="gray_btn">照片1</li>
        <li class="gray_btn">照片2</li>
        <li class="gray_btn">照片3</li>
        <li class="gray_btn">照片4</li>
        <li class="gray_btn">照片5</li>
        <li class="gray_btn">照片6</li>
    </ul>
</section>
<script src="../../js/common.js"></script>
</body>
</html>