<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title></title>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/ucenter.css"/>
</head>
<body>
<header class="noraml_tit">
    兴趣群主成员
    <img class="header_group" src="../../img/group.svg" alt=""/>
</header>
<section class="con">
    <div class="inputs clearfix">
        <div class="inputs_con l">
            <p>北京</p>
            <div class="right_arr">
                <i class="left"></i>
                <i class="inner_arr"></i>
            </div>
        </div>
        <div class="inputs_con r">
            <p>海淀</p>
            <div class="right_arr">
                <i class="left"></i>
                <i class="inner_arr"></i>
            </div>
        </div>
    </div>
    <div class="group_btn mb_55 pink">
        <img src="../../img/magn.svg" alt=""/>
    </div>
</section>
<div class="block"></div>
<section class="con">
    <div class="imgs clearfix">
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
        <img class="u_img" src="../../img/head.png" alt=""/>
    </div>
    <div class="group_btn mt_25 green">
        我要成为群帮主
    </div>
    <div class="group_btn mtb_50 red">
        我要退出这个群组
    </div>
</section>
<script src="../../js/common.js"></script>
</body>
</html>