<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title></title>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/ucenter.css"/>
</head>
<body>
<header class="noraml_tit">
    青春不常在，抓紧谈恋爱
</header>
<section class="person_info pb_40">
    <div class="con clearfix">
        <div class="info_l">
            <img class="u_img" src="../../img/head.png" alt=""/>
            <div class="heart_l"></div>
            <div class="gray_btn">给我留言</div>
        </div>
        <div class="info_r">
            <ul class="info_p">
                <li class="clearfix">
                    <p class="l">会员号：</p>
                    <div class="info_con r">1000000001</div>
                </li>
                <li class="clearfix">
                    <p class="l">昵称：</p>
                    <div class="info_con r">阿信</div>
                </li>
                <li class="clearfix">
                    <p class="l">年龄：</p>
                    <div class="info_con r">58</div>
                </li>
                <li class="clearfix">
                    <p class="l">性别：</p>
                    <div class="info_con r">男</div>
                </li>
                <li class="clearfix">
                    <p class="l">所在城区：</p>
                    <div class="info_con r">朝阳</div>
                </li>
                <li class="clearfix">
                    <p class="l">职业：</p>
                    <div class="info_con r">工程师</div>
                </li>
                <li class="clearfix">
                    <p class="l">单身时间：</p>
                    <div class="info_con r">一年</div>
                </li>
                <li class="clearfix">
                    <p class="l">签名：</p>
                    <div class="info_con r">开心每一天，快乐每一天。</div>
                </li>
                <li class="clearfix">
                    <p class="l">点赞：</p>
                    <div class="info_con r">99</div>
                </li>
                <li class="clearfix">
                    <p class="l">靠谱指数：</p>
                    <div class="info_con r">
                        <span class="index"></span>
                        <span class="index"></span>
                        <span class="index gy"></span>
                        <span class="index gy"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <p class="l">魅力指数：</p>
                    <div class="info_con r">
                        <span class="index"></span>
                        <span class="index"></span>
                        <span class="index"></span>
                        <span class="index gy"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <p class="l">昵称：</p>
                    <div class="info_con r">阿信</div>
                </li>
                <li class="clearfix">
                    <p class="l">兴趣群组：</p>
                </li>
            </ul>
            <ul class="hoby_ic clearfix">
                <li class="ff9 badmin"></li>
                <li class="ffb swing"></li>
                <li class="b2e bike"></li>
                <li class="ff9 ski"></li>
                <li class="b2e body"></li>
            </ul>
        </div>
    </div>
</section>
<div class="block"></div>
<section class="chat_record con">
    <ul class="record_con">
        <li class="my clearfix">
            <h2>
                <span class="fc_pink">甜甜</span><span>回复</span><span class="fc_blue">阿信</span>
            </h2>
            <div class="chat_con bg_pink">
                <div class="c_con_l"></div>
                <div class="c_con_c">你好呀！认识下吧！</div>
                <div class="c_con_r"></div>
                <img class="chat_arr" src="../../img/my_pink.svg" alt=""/>
            </div>
        </li>
        <li class="other clearfix">
            <h2>
                <span class="fc_blue">阿信</span><span>回复</span><span class="fc_pink">甜甜</span>
            </h2>
            <div class="chat_con bg_blue">
                <div class="c_con_l"></div>
                <div class="c_con_c">靠！你想干嘛！</div>
                <div class="c_con_r"></div>
                <img class="chat_arr" src="../../img/other_blue.svg" alt=""/>
            </div>
        </li>
        <li class="my clearfix">
            <h2>
                <span class="fc_blue">阿信</span><span>回复</span><span class="fc_pink">甜甜</span>
            </h2>
            <div class="chat_con bg_blue">
                <div class="c_con_l"></div>
                <div class="c_con_c">你好呀！认识下吧！你好呀！认识下吧！你好呀！认识下吧！你好呀！认识下吧！你好呀！认识下吧！你好呀！认识下吧！</div>
                <div class="c_con_r"></div>
                <img class="chat_arr" src="../../img/my_blue.svg" alt=""/>
            </div>
        </li>
        <li class="other clearfix">
            <h2>
                <span class="fc_pink">甜甜</span><span>回复</span><span class="fc_blue">阿信</span>
            </h2>
            <div class="chat_con bg_pink">
                <div class="c_con_l"></div>
                <div class="c_con_c">靠！你想干嘛！</div>
                <div class="c_con_r"></div>
                <img class="chat_arr" src="../../img/other_pink.svg" alt=""/>
            </div>
        </li>
    </ul>
</section>
<div class="block"></div>
<section class="chat con">
    <textarea name="" id="" cols="30" rows="3" placeholder="请在此输入聊天内容"></textarea>
    <div class="group_btn mb_30 green">
        我要成为群帮主
    </div>
</section>
<div class="block"></div>
<script src="../../js/common.js"></script>
</body>
</html>