<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title></title>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/ucenter.css"/>
</head>
<body>
<header class="noraml_tit">
    我的朋友
</header>
<section class="con">
    <div class="inputs clearfix">
        <div class="select_con l">
            <div class="item">
                <i class="check_box first">
                    <i></i>
                </i>
                <img class="item_icon" src="../../img/man.svg">
            </div>
            <div class="item">
                <i class="check_box checked">
                    <i></i>
                </i>
                <img class="item_icon" src="../../img/women.svg">
            </div>
            <div class="item">
                <i class="check_box">
                    <i></i>
                </i>
                <img class="item_icon" src="../../img/zan.svg">
            </div>
        </div>
        <div class="inputs_con r">
            <p class="num">18-22</p>
            <div class="right_arr">
                <i class="left"></i>
                <i class="inner_arr"></i>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="inputs_con l">
            <p>北京</p>
            <div class="right_arr">
                <i class="left"></i>
                <i class="inner_arr"></i>
            </div>
        </div>
        <div class="inputs_con r">
            <p>海淀</p>
            <div class="right_arr">
                <i class="left"></i>
                <i class="inner_arr"></i>
            </div>
        </div>
    </div>
    <div class="group_btn mtb_50 pink">
        <img src="../../img/magn.svg" alt=""/>
    </div>
</section>
<div class="block"></div>
<section class="person_info">
    <div class="con clearfix">
        <div class="info_l">
            <img class="u_img" src="../../img/head.png" alt=""/>
            <div class="heart_l"></div>
            <div class="gray_btn">给我留言</div>
        </div>
        <div class="info_r">
            <ul class="info_p">
                <li class="clearfix">
                    <p class="l">昵称：</p>
                    <div class="info_con r">阿信</div>
                </li>
                <li class="clearfix">
                    <p class="l">年龄：</p>
                    <div class="info_con r">58</div>
                </li>
                <li class="clearfix">
                    <p class="l">性别：</p>
                    <div class="info_con r">男</div>
                </li>
                <li class="clearfix">
                    <p class="l">所在城区：</p>
                    <div class="info_con r">朝阳</div>
                </li>
                <li class="clearfix">
                    <p class="l">职业：</p>
                    <div class="info_con r">工程师</div>
                </li>
                <li class="clearfix">
                    <p class="l">单身时间：</p>
                    <div class="info_con r">一年</div>
                </li>
                <li class="clearfix">
                    <p class="l">签名：</p>
                    <div class="info_con r">开心每一天，快乐每一天。</div>
                </li>
                <li class="clearfix">
                    <p class="l">点赞：</p>
                    <div class="info_con r">99</div>
                </li>
                <li class="clearfix">
                    <p class="l">靠谱指数：</p>
                    <div class="info_con r">阿信</div>
                </li>
                <li class="clearfix">
                    <p class="l">魅力指数：</p>
                    <div class="info_con r">
                        <span class="index"></span>
                        <span class="index"></span>
                        <span class="index"></span>
                        <span class="index gy"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <p class="l">昵称：</p>
                    <div class="info_con r">
                        <span class="index"></span>
                        <span class="index"></span>
                        <span class="index"></span>
                        <span class="index gy"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <p class="l">兴趣群组：</p>
                </li>
            </ul>
            <ul class="hoby_ic clearfix">
                <li class="ff9 badmin"></li>
                <li class="ffb swing"></li>
                <li class="b2e bike"></li>
                <li class="ff9 ski"></li>
                <li class="b2e body"></li>
            </ul>
        </div>
    </div>
    <div class="con mt_60 clearfix">
        <div class="img_sim l">
            <img src="../../img/bot_img.jpg" alt="" class="img_top"/>
        </div>
        <div class="img_sim r">
            <img src="../../img/bot_img.jpg" alt="" class="img_top"/>
        </div>
    </div>
    <div class="con pb_40">
        <div class="group_btn mt_60 pink">
            <img class="load_more" src="../../img/more.svg" alt=""/>
        </div>
    </div>
</section>
<div class="block"></div>
<section class="person_info">
    <div class="con clearfix">
        <div class="info_l">
            <img class="u_img" src="../../img/head.png" alt=""/>
            <div class="heart_l"></div>
            <div class="gray_btn">给我留言</div>
        </div>
        <div class="info_r">
            <ul class="info_p">
                <li class="clearfix">
                    <p class="l">昵称：</p>
                    <div class="info_con r">阿信</div>
                </li>
                <li class="clearfix">
                    <p class="l">年龄：</p>
                    <div class="info_con r">58</div>
                </li>
                <li class="clearfix">
                    <p class="l">性别：</p>
                    <div class="info_con r">男</div>
                </li>
                <li class="clearfix">
                    <p class="l">所在城区：</p>
                    <div class="info_con r">朝阳</div>
                </li>
                <li class="clearfix">
                    <p class="l">职业：</p>
                    <div class="info_con r">工程师</div>
                </li>
                <li class="clearfix">
                    <p class="l">单身时间：</p>
                    <div class="info_con r">一年</div>
                </li>
                <li class="clearfix">
                    <p class="l">签名：</p>
                    <div class="info_con r">开心每一天，快乐每一天。</div>
                </li>
                <li class="clearfix">
                    <p class="l">点赞：</p>
                    <div class="info_con r">99</div>
                </li>
                <li class="clearfix">
                    <p class="l">靠谱指数：</p>
                    <div class="info_con r">阿信</div>
                </li>
                <li class="clearfix">
                    <p class="l">魅力指数：</p>
                    <div class="info_con r">阿信</div>
                </li>
                <li class="clearfix">
                    <p class="l">昵称：</p>
                    <div class="info_con r">阿信</div>
                </li>
                <li class="clearfix">
                    <p class="l">兴趣群组：</p>
                </li>
            </ul>
            <ul class="hoby_ic clearfix">
                <li class="ff9 badmin"></li>
                <li class="ffb swing"></li>
                <li class="b2e bike"></li>
                <li class="ff9 ski"></li>
                <li class="b2e body"></li>
            </ul>
        </div>
    </div>
    <div class="con mt_60 clearfix">
        <div class="img_sim l">
            <img src="../../img/bot_img.jpg" alt="" class="img_top"/>
        </div>
        <div class="img_sim r">
            <img src="../../img/bot_img.jpg" alt="" class="img_top"/>
        </div>
    </div>
    <div class="con pb_40">
        <div class="group_btn mt_60 pink">
            <img class="load_more" src="../../img/more.svg" alt=""/>
        </div>
    </div>
</section>
<script src="../../js/common.js"></script>
</body>
</html>